version: '3.7'
services:
  postgres:
    image: postgres:13
    container_name: postgres_db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: poll_db
      POSTGRES_USER: poll_user
      POSTGRES_PASSWORD: poll_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    restart: always
    container_name: redis
    image: redis:6-alpine
    env_file:
      - ./.env
    ports:
      - '6378:${REDIS_PORT}'
    volumes:
      - redis:/data
volumes:
  postgres_data:
  redis:
